.slider {
  width: 100%;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  /* margin-top: -20px; */
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
body,
html {
  margin: 0;
  padding: 0;
}
